body{
  background-color: aquamarine;
}

.content{
  font-family: 'Seymour One', sans-serif;
  height: 100vh;
}

#landing{
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#heading{
  font-size: 60px;
  height: fit-content;
  padding-right: 5px;
  background-color: darkcyan;
  color: white;
  width: fit-content;
}

#play-buttons{
  width: 60%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.play-button{
  font-size: 24px;
  background-color: darkcyan;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 5px;
  width: 200px;
}

.play-button:hover{
  background-color: lightseagreen;
}

.play-button:active{
  background-color: lightseagreen;
  transform: translateY(2px);
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;

}

#guide-div{
    width: 40%;
    border: 1px solid black;
    color: rgb(84, 175, 250);
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

